---
import "../styles/global.scss"

import BaseHead from "../components/BaseHead.astro"
import Navbar from "../components/Navbar.astro"
import Tag from "../components/Tag.astro"

export interface Props {
    content: {
        title: string,
        description: string
        tags: string[]
    }
}

const { content: { title, description, tags } } = Astro.props as Props
---

<html lang="en">

<head>
    <BaseHead title={title} description={description} />
</head>
<body>
    <Navbar />
    <main>
        <div class="tag-container">
            {tags.map(name =>
            <Tag name={name} />)}
        </div>
        <article>
            <slot />
        </article>
    </main>
</body>
<style lang="scss" is:global>
    main {
        margin-left: 10rem;
        margin-top: 1.75rem
    }
    .tag-container {
        margin-bottom: -1.75rem;
    }
    h1 {
        font-size: 2.5rem;
    }
</style>
</html>