---
import "../styles/global.scss"

import BaseHead from "../components/BaseHead.astro"
import Navbar from "../components/Navbar.astro"
import Tag from "../components/Tag.astro"
import PostFrontmatter from "../util/PostFrontmatter"

export interface Props {
    content: PostFrontmatter
}

const { content: { title, description, tags } } = Astro.props as Props
---

<html lang="en">

<head>
    <BaseHead title={title} description={description} />
</head>

<body>
    <Navbar />
    <main>
        {tags.map(name =>
        <Tag name={name} />)}

        <article class="article">
            <slot />
        </article>
    </main>
</body>

</html>