---
import BaseHead from '../components/BaseHead.astro'
import Navbar from '../components/Navbar.astro'
import { Props as PostProps } from './Post.astro'

export type Frontmatter = PostProps['content']

export interface Props {
    relatedTo: string,
    predicate: (post: Frontmatter) => boolean
}

const { relatedTo, predicate } = Astro.props as Props

const title = `Related articles to ${relatedTo}`
const articles = (await Astro.glob<Frontmatter>('../pages/posts/*.md'))
    .map(post => post.frontmatter)
    .filter(predicate)
console.log(articles)
---

<html lang="en">

<head>
    <BaseHead title={title} description={title} />
</head>

<body>
    <Navbar />
    <main>
    </main>
</body>

</html>