---
import '../styles/global.scss'

import BaseHead from '../components/BaseHead.astro'
import Navbar from '../components/Navbar.astro'
import PostFrontmatter from '../util/PostFrontmatter'

export interface Props {
    relatedTo: string,
    predicate: (post: PostFrontmatter) => boolean
}

const { relatedTo, predicate } = Astro.props as Props

const title = `Related articles to ${relatedTo}`
const articles = (await Astro.glob<PostFrontmatter>('../pages/posts/*.md'))
    .map(post => post.frontmatter)
    .filter(predicate)
console.log(articles)
---

<html lang="en">

<head>
    <BaseHead title={title} description={title} />
</head>

<body>
    <Navbar />
    <main>
    </main>
</body>

</html>