<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href="/assets/common.css">
    <title>404 - soundbites</title>
</head>
<body>
    <%- include("common/navbar") %>

    <div class="main-content">
        <div class="container fadein-left">
            <h1 id="title">404: page not found</h1>
            <p>the page you were looking for does not exist. <a class="navbar-link" href="/">return to home</a></p>
        </div>
    </div>

</body>
</html>