<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about - soundbites</title>
    <link rel="stylesheet" href="../assets/common.css">
</head>
<body>
    <%- include("common/navbar") %>

    <div class="main-content">
        <h1>about us</h1>
        <p>
            soundbites is a team of five people who are excited to write about the state of music today. Learn about the theory behind popular songs, the latest news in the music industry, and more!
        </p>
        <p>
            We cover a variety of genres, from hip-hop, classic, jazz, to the expansive and varying topic of pop.
        </p>
        <h2 id="team-title">the team</h2>
        <div id="credits">
            <h3>our writers</h3>
            <ul>
                <li><a class="navbar-link" href="#">amy</a></li>
                <li><a class="navbar-link" href="#">henry</a></li>
                <li><a class="navbar-link" href="#">ben</a></li>
            </ul> 
            <h3>developers</h3>
            <ul>
                <li><a class="navbar-link" href="#">henry</a></li>
                <li><a class="navbar-link" href="../users/qwerty">ayush</a></li>
            </ul>       
        </div>
    </div>
</body>