<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about - soundbites</title>
    <link rel="stylesheet" href="../assets/common.css">
    <link rel="icon" href="../assets/favicon.svg">
    <script defer src="../assets/js/common.js"></script>
</head>
<body>
    <%- include("common/navbar") %>

    <div class="main-content">
        <div class="container fadein-left">
            <h1>about us</h1>
            <p>
                Soundbites is a news site and blog based around music, which publishes “bite-sized” articles.
                Our goal is to encourage music enjoyers of all kinds - regardless of writing skill - to come together and share their thoughts on what they love.
                <br>
                <br>
                We write articles that analyze lyrical and sonic elements of all types of music, including current releases, retrospectives 
                (looks on older, significant albums that changed a certain genre), and give updates on notable events in the music industry.
            </p>
            <!-- <br>
            <br>
            We have formed into a club at <a href="https://princetonk12.org/princeton-high-school" target="_blank">Princeton High School</a>. You're reading articles created by talented writers at PHS! -->
        </div>
        <hr class="wave-divider">
            <div class="container fadein-left">
                <h2 id="team-title">the team</h2>
                <div id="credits">
                <h3>writers</h3>
                <ul>
                    <% authors.map(a => { %>
                        <li><a class="link" href="../users/<%= a.username%>"><%= a.displayName %></a></li>
                    <% }) %>
                </ul> 
                <h3>developers</h3>
                <ul>
                    <li><a class="link" href="../users/henry">henry</a></li>
                    <li><a class="link" href="../users/ayush">ayush</a></li>
                </ul>
            </div>
        </div>
        <hr class="wave-divider">
        <div class="container fadein-left">
            <h2>open beta testing</h2>
            <p>
                <!-- Currently, soundbites is in its very early stages of production. Through the past month we have been working on the core features of the website
                in order to have it up and running as soon as possible. A variety of changes are to come soon as we work to improve the security, reliability, and looks of the site.
                <br>
                Because of this, there may be some disrupting issues. We're hoping to fix those as soon as possible. If you see any problems, please post a comment on <a href="/posts/music-is-awesome">this post.</a>
                <br>
                <br> -->
                We are still working on this website. We're going to be reworking the server and the design throughout the year, so stay tuned for a new theme change!
                <br>
                If you are interested, changes will be visible on our <a href="https://github.com/henry-lang/soundbites" target="_blank">GitHub repository.</a>
            </p>
        </div>
        <%- include("common/theme_toggle") %>
    </div>
</body>