<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about - soundbites</title>
    <link rel="stylesheet" href="../assets/common.css">
</head>
<body>
    <%- include("common/navbar") %>

    <div class="main-content">
        <h1>about us</h1>
        <p>
            soundbites is a team of five people who are excited to write about the state of music today. Learn about the theory behind popular songs, the latest news in the music industry, and more!
        </p>
        <p>
            We cover a variety of genres, from hip-hop, classic, jazz, to the expansive and varying topic of pop.
        </p>
        <h2 id="team-title">the team</h2>
        <div id="credits">
            <h3>writers</h3>
            <ul>
                <li><a class="navbar-link" href="#">amy</a></li>
                <li><a class="navbar-link" href="#">henry</a></li>
                <li><a class="navbar-link" href="#">ben</a></li>
            </ul> 
            <h3>developers</h3>
            <ul>
                <li><a class="navbar-link" href="#">henry</a></li>
                <li><a class="navbar-link" href="../users/qwerty">ayush</a></li>
            </ul>
            <h3>graphic designer</h3>
            <ul><li><a href="#">colin</a></li></ul>
        </div>
        <br>
        <h2>open beta testing</h2>
        <p>
            Currently, soundbites is in its very early stages of production. Through the past month we have been working on the core features of the website
            in order to have it up and running as soon as possible. A variety of changes are to come soon as we work to improve the security, reliability, and looks of the site.
            <br>
            Because of this, there may be some disrupting issues. We're hoping to fix those as soon as possible. If you see any problems, please post a comment on <a href="/posts/hello-world">this post.</a>
            <br>
            <br>
            If you are interested, changes will be visible on our <a href="https://github.com/henry-lang/soundbites" target="_blank">GitHub repository.</a>
        </p>
    </div>
</body>