<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about - soundbites</title>
    <link rel="stylesheet" href="../assets/common.css">
</head>
<body>
    <%- include("common/navbar") %>

    <div class="main-content">
        <h1>about us</h1>
        <p>
            soundbites is a team of five people who are excited to write about the state of music today.
        </p>
        <!-- include links to our profiles here (use the same blocks as the ones on the homepage) -->
    </div>
</body>