<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/common.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="icon" href="../assets/favicon.svg">

    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js" defer></script>
    <script src="/assets/js/create.js" defer></script>
    <script defer src="../assets/js/common.js"></script>
    
    <title>create - soundbites</title>
</head>
<body>
    <%- include("common/navbar") %>

    <div class="main-content">
        <div class="container fadein-left">
            <h1 id="title">submit an article</h1>
            <p id="invalid"></p>
            <form id="form">
                <div id="title-desc">
                    <input id="title-field" type="text" placeholder="title of your article" class="input">
                    <input id="description-field" type="text" placeholder="description of your article" class="input">
                </div>
                <textarea id="text"></textarea>
                <input class="submit" type="submit" value="publish">
            </form>
        </div>
        <%- include("common/theme_toggle") %>
    </div>
</body>
</html>