<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/common.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js" defer></script>
    <script src="/assets/js/create.js" defer></script>

    <title>create - music blog</title>
</head>
<body>
    <%- include("common/navbar") %>

    <div class="main-content">
        <h1 id="title">submit an article</h1>
        <p id="invalid"></p>
        <form id="form">
            <div id="title-desc">
                <input id="title-field" type="text" placeholder="title of your article">
                <input id="description-field" type="text" placeholder="description of your article">
            </div>
            <textarea id="text"></textarea>
            <input type="submit" value="publish">
        </form>
    </div>
</body>
</html>