<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>featured posts - soundbites</title>
    <link rel="stylesheet" href="/assets/common.css">
    <link rel="icon" href="../assets/favicon.svg">
    <script defer src="../assets/js/common.js"></script>
</head>
<body>
    <%- include("common/navbar") %>

    <div class="main-content">
        <div class="container fadein-left">
            <h1>posts</h1>
            <h2>our newest articles</h2>
            <%- include('common/latest-headlines', {posts: data}) %>
            <br>
            <h2>top picks</h2>
            <br>
            <h2>highest ratings in the past month</h2>
            <p>coming soon!</p>
            <br>
            <h2>all posts</h2>
            <p>custom filtering coming soon!</p>
        </div>
        <%- include("common/theme_toggle") %>
    </div>
</body>
</html>