<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>featured posts - music blog</title>
    <link rel="stylesheet" href="../assets/featured.css">
</head>
<body>
    <p>featured posts are here. maybe have it sorted based on views/commments</p>
</body>
<script src="../assets/maincss.js"></script>
</html>