<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>soundbites</title>
    <link rel="stylesheet" href="/assets/common.css">
</head>
<body>
    <%- include("common/navbar") %>

    <div class="main-content">
        <div id="welcome">
            <h1 id="title">welcome.</h1>
            <p>soundbites analyzes music from all kinds of genres - rap, classical, jazz, pop. If you can name it, we're talking about it.</p>
            <a href="account/register" class="navbar-link">join us today</a>
        </div>
        <hr class="wave-divider">
        <div id="headlinesContainer"> <!-- TODO: render them with ejs -->
            <h2 id="headlines">our latest headlines</h2>
            <div id="container">
                <div class="block">
                    <div id="textContainer">
                        <a href="posts/music-is-awesome">Music Is Awesome!</a>
                        <p id="authorInfo">By <strong>Henry</strong> on 8/18/2021</p>
                        <p id="desc">It's so cool.</p>
                    </div>
                </div>
                <div class="block">
                    <div id="textContainer">
                        <a href="posts/music-is-awesome">Music Is Awesome!</a>
                        <p id="authorInfo">By <strong>Henry</strong> on 8/18/2021</p>
                        <p id="desc">It's so cool.</p>
                    </div>
                </div>
                <div class="block">
                    <div id="textContainer">
                        <a href="posts/music-is-awesome">Music Is Awesome!</a>
                        <p id="authorInfo">By <strong>Henry</strong> on 8/18/2021</p>
                        <p id="desc">It's so cool.</p>
                    </div>
                </div>
                <div class="block">
                    <div id="textContainer">
                        <a href="posts/music-is-awesome">Music Is Awesome!</a>
                        <p id="authorInfo">By <strong>Henry</strong> on 8/18/2021</p>
                        <p id="desc">It's so cool.</p>
                    </div>
                </div>
                <div class="block">
                    <div id="textContainer">
                        <a href="posts/music-is-awesome">Music Is Awesome!</a>
                        <p id="authorInfo">By <strong>Henry</strong> on 8/18/2021</p>
                        <p id="desc">It's so cool.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>