<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../assets/common.css">

    <script src="../assets/js/login.js" defer></script>

    <title>log in - music blog</title>
</head>
<body>
    <%- include("./common/navbar") %>
    <div class="main-content">
        <form id="login-form">
            <h1>welcome back</h1>
            <p id="invalid"></p>
            <input type="text" id="username" placeholder="username">
            <input type="password" id="pwd" placeholder = "password">
            <input type="submit" value="submit">
        </form>
        <p>don't have an account yet? <a class="navbar-link" href="../account/register">sign up here</a></p>
    </div>
</body>
</html>