<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../assets/common.css">
    <script defer src="../assets/js/common.js"></script>

    <script src="../assets/js/login.js" defer></script>

    <title>log in - soundbites</title>
</head>
<body>
    <%- include("./common/navbar") %>
    
    <div class="main-content">
        <div class="container fadein-left">
            <form id="login-form">
                <h1>welcome back</h1>
                <p id="invalid"></p>
                <input class="input" type="text" id="username" placeholder="username">
                <br>
                <input class="input" type="password" id="pwd" placeholder = "password">
                <br>
                <input class="submit" type="submit" value="submit">
            </form>
            <p>don't have an account yet? <a class="navbar-link" href="/account/register">sign up here</a></p>
        </div>
        <%- include("common/theme_toggle") %>
    </div>
</body>
</html>