<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/common.css">
    <title>log in - music blog</title>
</head>
<body>
    <%- include("./common/navbar") %>
    <div class="main-content">
        <form id="loginform">
            <h1>welcome back</h1>
            <p id="invalid"></p>
            <input type="text" id="username" placeholder="username">
            <input type="password" id="pwd" placeholder = "password">
            <input type="submit" value="submit">
        </form>
        <p>don't have an account yet? <a class="navbar-link" href="/register">sign up here</a></p>
    </div>
</body>
<script>
    const form = document.getElementById("loginform");
    const p = document.getElementById("invalid");

    form.addEventListener("submit", login);

    async function login(event) {
    p.style.display = "none";

        event.preventDefault();
        var username = document.getElementById("username").value;
        var pwd = document.getElementById('pwd').value;

        var result = await fetch("/login", {
            method: 'POST',
            headers: {'Content-type': 'application/json'},
            body: JSON.stringify({username, pwd})
        }).then((res) => res.json());

        if (result.status == "ok") {
            p.innerHTML = result.data;
            p.style.display = "block";
        } else {
            p.innerHTML = result.error;
            p.style.display = "block";
        }
    };
</script>
</html>