<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/favicon.svg">
    <link rel="stylesheet" href="../assets/common.css">
    <script defer src="../assets/js/common.js"></script>
    <title>profile - music blog</title>
</head>
<body>
    <%- include("common/navbar") %>

    <div class="main-content">
        <div class="container fadein-left">
            <h1 id="title">profile</h1>
            <div id="avatar-title-container">
                <% if(data.avatar == null) { %>
                    <img id="avatar" src="../assets/default-photo.png">
                <% } else { %>
                    <img id="avatar" src="<%=data.avatar%>">
                <% } %>
                <div id="user-details"><%- include("common/user_details", {data}) %></div>
            </div>
            <a id="change-settings" class="navbar-link" href="/account/settings">change settings</a><a id="logout" class="navbar-link" href="../account/logout">log out</a>
        </div>
        <%- include("common/theme_toggle") %>
    </div>
</body>
</html>