<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/common.css">

    <script src="../assets/js/register.js" defer></script>
    <script defer src="../assets/js/common.js"></script>

    <title>register - soundbites</title>
</head>
<body>
    <%- include("./common/navbar") %>
    <%- include("common/theme_toggle") %>

    <div class="main-content">
        <div class="container fadein-left">
            <form id="reg">
                <h1>sign up</h1>
                <p id="invalid"></p>
                <input class="input" type="text" id="username" placeholder="username">
                <br>
                <input class="input" type="text" id="display" placeholder="display name">
                <br>
                <input class="input" type="password" id="pwd" placeholder = "password">
                <br>
                <input class="submit" type="submit" value="submit">
            </form>
            <p>already have an account? <a class="navbar-link" href="/account/login">log in here</a></p>
        </div>
    </div>
</body>
</html>