<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/common.css">

    <script src="../assets/js/settings.js" defer></script>

    <title>settings - soundbites</title>
</head>
<body>
    <%- include("./common/navbar") %>
    <div class="main-content">
        <form id="settings">
            <h1>settings</h1>
            <p id="invalid"></p>
            <input class="input" type="text" id="username" placeholder="new username">
            <br>
            <input class="input" type="text" id="display" placeholder="new display name">
            <br>
            <input class="input" type="password" id="pwd" placeholder = "new password">
            <br>
            <input class="submit" type="submit" value="submit">
            <p>Once you change your username it will be available for anyone to take. If someone else takes it, you won't get it back.</p>
            <p><input type="checkbox" id="checkbox"> I understand</p>
        </form>
    </div>
</body>
</html>