#title {
    font-family: "Georama";
    text-align: center;
    position: relative;
    top: 40px;
}

p {
    font-family: "Georama";
    position: relative;
    text-align: center;
    top: 100px;
}

a {
    color: rgb(201, 44, 32);
    transition: 0.25s;
}

a:hover {
    color:rgb(153, 37, 29)
}