#title {
    font-family: "Georama";
    text-align: center;
    position: relative;
    top: 40px;
}

p {
    font-family: "Georama";
    position: relative;
    text-align: center;
}

h2 {
    font-family: "Georama";
    font-weight: 300;
    padding-left: 100px;
    padding-top: 100px;
}