<nav class="navbar fixed">
    <a class="navbar-title-link default-font flex-row float-left" href="/">
        <!-- We can put the image here in the future and it should fit nicely since we are using flex! -->
        <h1 class="navbar-title">music-blog</h1>
    </a>
    <div class="navbar-links flex-row float-left">
        <a class="navbar-link" href="/featured">featured articles</a>
        <a class="navbar-link" href="/register">register</a>
        <a class="navbar-link" href="/about">about us</a>
    </div>
</nav>