@use "./variables.scss" as *;

body {
    margin: 0;
    padding: 0;
    background-color: $bg;
    overflow-x: hidden;
    width: 100%
}

* {
    font-family: $font;
    color: $fg;
}

a {
    color: $accent;
}