---
import '../styles/global.scss'

import BaseHead from '../components/BaseHead.astro'
import Navbar from '../components/Navbar.astro'
import PostFrontmatter from '../util/PostFrontmatter'

export interface Props {
    relatedTo: string,
    predicate: (post: PostFrontmatter) => boolean
}

const { relatedTo, predicate } = Astro.props as Props

const title = `Related articles to ${relatedTo}`
const posts = (await Astro.glob<PostFrontmatter>('../pages/posts/*.md'))
    .filter((post) => predicate(post.frontmatter))
    .sort(({ frontmatter: { date: a } }, { frontmatter: { date: b } }) => new Date(b).getTime() - new Date(a).getTime())
---

{posts.map(post => <a href={post.url}>{post.frontmatter.title}</a>)}